Source: node-q
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Xavier Guimard <yadd@debian.org>
Build-Depends: debhelper-compat (= 13)
 , uglifyjs
 , dh-sequence-nodejs
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/js-team/node-q
Vcs-Git: https://salsa.debian.org/js-team/node-q.git
Homepage: https://github.com/kriskowal/q
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: libjs-q
Architecture: all
Depends: ${misc:Depends}
Recommends: javascript-common
Multi-Arch: foreign
Description: JavaScript library for promises (CommonJS/Promises/A,B,D)
 Q is a tool for creating and composing asynchronous promises in JavaScript.
 .
 If a function cannot return a value or throw an exception without blocking,
 it can return a promise instead. A promise is an object that represents the
 return value or the thrown exception that the function may eventually provide.
 A promise can also be used as a proxy for a remote object to overcome latency.
 .
 This package contains the q.js JavaScript library.

Package: node-q
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Node.js module for promises (CommonJS/Promises/A,B,D)
 Q is a tool for creating and composing asynchronous promises in JavaScript.
 .
 If a function cannot return a value or throw an exception without blocking,
 it can return a promise instead. A promise is an object that represents the
 return value or the thrown exception that the function may eventually provide.
 A promise can also be used as a proxy for a remote object to overcome latency.
 .
 This package contains the q module for Node.js.
 .
 Node.js is an event-based server-side JavaScript engine.
